body {
  font-family: 'Anonymous Pro', monospace;
  /* font-family: 'Inconsolata', monospace; */
}

.center{
  text-align: center;
}

.larger {
  font-size: x-large !important; 
}

.redText{
  color: red;
}

.parent{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 500px;
  grid-gap: 5px;
  justify-content: center;
  position: relative;
  font-family: 'Inconsolata', monospace;
}

.box {
  background-color: #ccc;
  color: #000;
  border-radius: 3px;
  padding: 5px;
  font-size: 100%;
}

/* .box:nth-child(even) {
 background-color: #444;
  color: #fff;
} */

ul {
  list-style-type: none;
}

.exit {
  margin: 1%;
}

.lowerLeft {
  position: absolute;
  bottom: 8px;
  left: 8px;
}

.lowerRight {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.upperRight {
  position: absolute;
  top: 8px;
  right: 8px;
}

.upperLeft{
  position: absolute;
  top: 8px;
  left: 8px;
}

/* .N {
  position: absolute;
  top: 8px;
}

.S {
  position: absolute;
  bottom: 8px;
}

.E {
  position: absolute;
  right: 8px;
}

.W {
  position: absolute;
  left: 8px;
} */

/* 
*heads p display CSS:
*/

/* HEALTH  BAR */

@-webkit-keyframes flash {
  0% { opacity: 1; } 
  50% { opacity: .5; } 
  100% { opacity: 1; }
} 

@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .5; } 
	100% { opacity: 1; }
}

/* apply class to health bar at low helath */

.flash{
  -webkit-animation: flash ease-in-out 5s infinite alternate;
	  animation: flash ease-in-out 5s infinite alternate-reverse;
}

.green{
  background-color: green;
  border-radius: 20%;
}

.black {
  background-color: black;
  color: white;
  border: 1px cornsilk;
  border-radius: 15%;
}

/* 

use meter to represent health bar in UI component


read this if confused http://blog.teamtreehouse.com/use-meter-progress-elements
*/

meter::-webkit-meter-bar {
  /* -webkit-appearance: none;  */
    background: #EEE;
    box-shadow: 1px 2px 3px rgba(255,255,255,1) inset;
    border-radius: 5px;
    width: 20vw;
    height: 5vh;
}


meter::-webkit-meter-optimum-value {
    background: #86CC00; /* Green */
    border-radius: 5px;
    width: 20vw;
    height: 5vh;
}

meter::-webkit-meter-suboptimum-value {
    background: #FFDB1A; /* Yellow */
    border-radius: 5px;
    width: 20vw;
    height: 5vh;
}

meter::-webkit-meter-even-less-good-value {
    background: #CC4600; /* Red */
    border-radius: 5px;
    width: 20vw;
    height: 5vh;
}

meter {
    /* For Firefox */
    background: #EEE;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
    border-radius: 3px;
}

meter::-moz-meter-bar {
    border-radius: 3px;
}

meter:-moz-meter-optimum::-moz-meter-bar {
    background: #86CC00;
}

meter:-moz-meter-sub-optimum::-moz-meter-bar {
    background: #FFDB1A;
}

meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
    background: #CC4600;
}